@tailwind base;
@tailwind components;
@tailwind utilities;

/* Temporary helper for multi-line truncation used in existing HTML */
.line-clamp-3 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}


